<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Datos actuales del Usuario</h4>

      <form onsubmit="this.reset()" class="form">
        <div class="row">
          <div class="col-md-6 mb-3 form-group">
            <label>Nombre</label>
            <input [(ngModel)]="UserDatos.nombre" type="text" class="form-control" name="nombre" placeholder="" value=""
              required="">
          </div>

          <div class="col-md-6 form-group">
            <label for="">Correo de Usuario</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input [(ngModel)]="UserDatos.correo" type="text" class="form-control" name="correoUsuario" placeholder="ejemplo@gmail.com"
                required="">
            </div>
          </div>

        </div>

        <div class="row mb-3">
          <div class="col-md-6  form-group">
            <label for="">Contraseña</label>
            <input [(ngModel)]="UserDatos.contrasena" type="password" class="form-control" name="contraseña"
              placeholder=". . . .">
          </div>
          <div class="col-md-4 mb-3 form-group">
            <label for="">Experiencia</label>
            <input [(ngModel)]="UserDatos.experiencia" type="text" class="form-control" name="experiencia" placeholder=""
              value="" required="">
          </div>

        </div>



        <div class="row">

          <div class="col-md-8 mb-3 form-group">
            <label for="">Comentario</label>
            <textarea [(ngModel)]="UserDatos.comentario" type="text" class="form-control" rows="3" name="comentario"></textarea>
          </div>
          <div class="col-md-4 mb-3 form-group">
            <label for="">Estado</label>
            <select [(ngModel)]="UserDatos.estado" name="estado" class="form-control">
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>

        </div>



        <hr class="mb-4">
        <hr class="mb-4">
        <button [disabled]="lleno" (click)="UpdateUser()" class="btn btn-primary btn-lg btn-block" type="submit">Actualizar
          Usuario</button>
      </form>
    </div>

  </div>

</div>